/* Stretch: CSS animations */


h2 {
    font-family: 'Dancing Script', cursive;
}

main p {
    margin: 5%;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

.aboutbox1 {
    width: 20%;
    /* background-color: coral; */
}

.ctrpls {
    text-align: center;
}

.vh-2pages {
    height: 70vh;
}